.block__cartitem {
        box-shadow: 0 0 5px 1px black;
        border-radius: 15px;
        width: 500px;
        margin: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

}

.block__cartitem img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.block__cartitem input {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.block__cartitem button {
    height: 40px;
    width: 100px;
    font-size: 1.2em;
    background: none;
    border: 3px solid black;
    background: rgb(255, 99, 99);
}